{% extends 'base.html'%}
{% import 'macros.html' as macro%}


        {% block content %}
          
             <h1 style="color:black;text-align:center;font-weight:bold;"> TOP WORLD NEWS SOURCES</h1>

         {% for highlight in highlights %}
         <div class="container-fluid ">
          <div class="card text-center">
            <div class="card-header">
              <h2 style="color:black;font-family: 'Mochiy Pop P One', sans-serif;
                font-family: 'Outfit', sans-serif;
                font-family: 'Poppins', sans-serif;
                font-family: 'Roboto Slab', serif;"
                 class="card-title">{{ highlight.name}}</h2>
            </div>
            <div class="card-body">
              <h6 style="color:green;" class="card-subtitle mb-2 text-muted">Your Trusted source</h6>
              <p style="color:black" class="card-text">{{highlight.description}}</p>
              <a href="{{ highlight.url}}" class="btn btn-warning">View More</a>
            </div>
            <div class="card-footer text-muted">
              Streaming Live 🛑
            </div>
            {% endfor %}
          </div>
         </div>
          
     
{% endblock%}  






