{% extends 'base.html'%}
{% import 'macros.html' as macro%}


        {% block content %}
          
             <h3 style="color:black;text-align:center;"> TOP WORLD NEWS SOURCES</h3>
             <ul>
                {% for highlight in highlights %}
                    <h2>{{ highlight.name}}</h2>
                    <li><a href="{{ highlight.url}}">{{ highlight.url}}</a></li>
                   
                   
                {% endfor %}
            </ul> 
     
{% endblock%}  






